# Игнорируем файлы с секретами и настройками
.env

# Игнорируем системные файлы macOS (они создаются автоматически и не нужны в проекте)
.DS_Store

# Игнорируем данные базы данных (если они хранятся в папке проекта, а не в Docker volume)
# Если вы используете volumes, как в моем примере выше, это не обязательно, но полезно знать
pgdata/

# Игнорируем виртуальное окружение Python (если будете его создавать)
venv/
.venv/